In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_csv('CarPrice_Assignment.csv')
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
df.drop('CarName',axis=1,inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
dtypes: float64(8), int64(8), object(9)
memory usage: 40.2+ KB

In [5]:
df.isnull().sum()

car_ID              0
symboling           0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [6]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [7]:
df['car_ID'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205], dtype=int64)

In [8]:
df.drop('car_ID',axis=1,inplace=True)

In [9]:
df.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [10]:
df['drivewheel'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [11]:
dw={'rwd':1,'fwd':2,'4wd':3}
df['drivewheel']=df['drivewheel'].map(dw)
df.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,gas,std,two,convertible,1,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,gas,std,two,convertible,1,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,gas,std,two,hatchback,1,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,gas,std,four,sedan,2,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,gas,std,four,sedan,3,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [12]:
df['drivewheel'].unique()

array([1, 2, 3], dtype=int64)

In [13]:
df['doornumber'].unique()

array(['two', 'four'], dtype=object)

In [14]:
dn={'two':2,'four':4}
df['doornumber']=df['doornumber'].map(dn)
df.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,gas,std,2,convertible,1,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,gas,std,2,convertible,1,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,gas,std,2,hatchback,1,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,gas,std,4,sedan,2,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,gas,std,4,sedan,3,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [15]:
df['fueltype'].unique()

array(['gas', 'diesel'], dtype=object)

In [16]:
ft={'gas':1,'diesel':2}
df['fueltype']=df['fueltype'].map(ft)
df.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,1,std,2,convertible,1,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,1,std,2,convertible,1,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,1,std,2,hatchback,1,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,1,std,4,sedan,2,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,1,std,4,sedan,3,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [17]:
df['carbody'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [18]:
cb={'convertible':1, 'hatchback':2, 'sedan':3, 'wagon':4, 'hardtop':5}
df['carbody']=df['carbody'].map(cb)
df.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,1,std,2,1,1,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,1,std,2,1,1,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,1,std,2,2,1,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,1,std,4,3,2,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,1,std,4,3,3,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [19]:
df['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

In [20]:
asp={'std':1, 'turbo':2}
df['aspiration']=df['aspiration'].map(asp)
df.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,1,1,2,1,1,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,1,1,2,1,1,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,1,1,2,2,1,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,1,1,4,3,2,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,1,1,4,3,3,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [21]:
df.drop('enginelocation',inplace=True,axis=1)
df.drop('enginesize',inplace=True,axis=1)

In [22]:
df.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,wheelbase,carlength,carwidth,carheight,...,cylindernumber,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,1,1,2,1,1,88.6,168.8,64.1,48.8,...,four,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,1,1,2,1,1,88.6,168.8,64.1,48.8,...,four,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,1,1,2,2,1,94.5,171.2,65.5,52.4,...,six,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,1,1,4,3,2,99.8,176.6,66.2,54.3,...,four,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,1,1,4,3,3,99.4,176.6,66.4,54.3,...,five,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [23]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['cylindernumber']= label_encoder.fit_transform(df['cylindernumber'])
df['fuelsystem']= label_encoder.fit_transform(df['fuelsystem'])
df['wheelbase']= label_encoder.fit_transform(df['wheelbase'])
df['carlength']= label_encoder.fit_transform(df['carlength'])
df['carwidth']= label_encoder.fit_transform(df['carwidth'])
df['carheight']= label_encoder.fit_transform(df['carheight'])
df['enginetype']= label_encoder.fit_transform(df['enginetype'])
df['boreratio']= label_encoder.fit_transform(df['boreratio'])
df['stroke']= label_encoder.fit_transform(df['stroke'])
df['compressionratio']= label_encoder.fit_transform(df['compressionratio'])
df['price']= label_encoder.fit_transform(df['price'])

In [24]:
df.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,wheelbase,carlength,carwidth,carheight,...,cylindernumber,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,1,1,2,1,1,2,22,8,1,...,2,5,23,4,13,111,5000,21,27,118
1,3,1,1,2,1,1,2,22,8,1,...,2,5,23,4,13,111,5000,21,27,137
2,1,1,1,2,2,1,10,29,16,13,...,3,5,1,28,13,154,5000,19,26,137
3,2,1,1,4,3,2,30,45,21,25,...,2,5,13,25,22,102,5500,24,30,123
4,2,1,1,4,3,3,28,45,23,25,...,1,5,13,25,5,115,5500,18,22,148

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   fueltype          205 non-null    int64
 2   aspiration        205 non-null    int64
 3   doornumber        205 non-null    int64
 4   carbody           205 non-null    int64
 5   drivewheel        205 non-null    int64
 6   wheelbase         205 non-null    int64
 7   carlength         205 non-null    int64
 8   carwidth          205 non-null    int64
 9   carheight         205 non-null    int64
 10  curbweight        205 non-null    int64
 11  enginetype        205 non-null    int32
 12  cylindernumber    205 non-null    int32
 13  fuelsystem        205 non-null    int32
 14  boreratio         205 non-null    int64
 15  stroke            205 non-null    int64
 16  compressionratio  205 non-null    int64
 17  horsepower        205 non-null    int64
 18  peakrpm           205 non-null    int64
 19  citympg           205 non-null    int64
 20  highwaympg        205 non-null    int64
 21  price             205 non-null    int64
dtypes: int32(3), int64(19)
memory usage: 33.0 KB

In [26]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values
df.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,wheelbase,carlength,carwidth,carheight,...,cylindernumber,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,1,1,2,1,1,2,22,8,1,...,2,5,23,4,13,111,5000,21,27,118
1,3,1,1,2,1,1,2,22,8,1,...,2,5,23,4,13,111,5000,21,27,137
2,1,1,1,2,2,1,10,29,16,13,...,3,5,1,28,13,154,5000,19,26,137
3,2,1,1,4,3,2,30,45,21,25,...,2,5,13,25,22,102,5500,24,30,123
4,2,1,1,4,3,3,28,45,23,25,...,1,5,13,25,5,115,5500,18,22,148

In [27]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [28]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [29]:
from sklearn.svm import SVC
svc=SVC()
svc.fit(x_train,y_train)

SVC()

In [30]:
y_pred = svc.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
cm

[[  7  23]
 [132 133]
 [ 65 128]
 [  7   1]
 [ 61  86]
 [ 60  97]
 [  7   4]
 [ 67  48]
 [137 147]
 [  7  16]
 [137 163]
 [137 175]
 [104  95]
 [ 44 155]
 [ 20  66]
 [137  85]
 [ 61  74]
 [ 61 159]
 [ 65  47]
 [ 10  15]
 [ 49  81]
 [ 61 130]
 [ 65  80]
 [137 101]
 [140 135]
 [ 44   0]
 [ 20  27]
 [109 142]
 [ 10  59]
 [  7   6]
 [ 61  50]
 [ 61 108]
 [137 166]
 [ 61  68]
 [ 20  24]
 [119 187]
 [137 102]
 [158 153]
 [  7  13]
 [186 188]
 [  7  66]]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0]], dtype=int64)

In [31]:
from sklearn.metrics import r2_score
r2=r2_score(y_pred,y_test)

In [32]:
print(r2)

0.4460893221193928

In [33]:
from sklearn.ensemble import RandomForestRegressor

In [34]:
mode=RandomForestRegressor().fit(x_train,y_train)

In [35]:
y_pred1=mode.predict(x_test)

In [36]:
print(r2_score(y_pred1,y_test))

0.8704358844521631

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
model=LinearRegression().fit(x_train,y_train)

In [39]:
y_pred1=model.predict(x_test)
print(r2_score(y_pred1,y_test))

0.8118615074067463

In [40]:
from sklearn.decomposition import PCA
model=PCA(n_components =15)
x_train=model.fit_transform(x_train)

In [41]:
x_test=model.transform(x_test)

In [42]:
mode=RandomForestRegressor().fit(x_train,y_train)
y_pred1=mode.predict(x_test)
print(r2_score(y_pred1,y_test))

0.7727403542053641

In [43]:
import pickle
pickle.dump(mode,open('desktop.pkl','wb'))
model_loaded=pickle.load(open('desktop','rb'))
model_loaded.predict(x_test)

array([  9.185     , 139.36      , 115.17833333,  19.8675    ,
        69.83      ,  86.36      ,  15.45      ,  54.69      ,
       140.09066667,  26.015     , 107.455     , 152.50666667,
       104.71833333,  98.17016667,  17.7575    , 100.06214286,
       101.8       , 137.28      ,  68.2       ,  21.875     ,
       103.57166667, 134.7       ,  88.76      , 100.99714286,
       144.51      ,  32.25      ,  39.6       , 137.74      ,
        54.97      ,  22.885     ,  74.38333333, 111.945     ,
       156.64633333,  93.1575    ,  37.8225    , 154.        ,
        64.11      , 146.6825    ,  11.915     , 164.085     ,
        17.085     ])

In [44]:
from sklearn.pipeline import Pipeline

In [45]:
car_final=Pipeline([('scaler',sc),('estimator',mode)])

In [46]:
print(x_test)

[[-3.47581545e+00  7.32360882e-02  9.35620719e-02 -3.30641643e-01
  -2.45156014e-01  6.42118294e-01 -6.70373137e-01 -1.51854046e-01
   1.28046234e-01  3.49801445e-01 -7.23456608e-01 -5.04237606e-01
   3.76529827e-01  2.64487833e-01 -6.12108796e-02]
 [ 3.08254290e+00 -1.45536794e-01 -4.35011231e-01  3.22327135e-01
   3.27107275e+00 -3.99718933e-01  4.00294013e-01 -1.15752438e-01
  -1.19442627e+00 -7.96555809e-01  6.33932156e-02  4.00269670e-01
   1.53354247e+00  6.70407310e-01  1.48183100e-01]
 [ 5.15931925e-01  1.41894057e+00  8.30725721e-02 -1.41163526e+00
   3.04929443e-01 -1.09189216e-01  2.65068881e-02  1.50420025e+00
   1.50023152e+00  1.87467649e-01  3.13121948e-01 -3.81871077e-02
   1.26953278e-01  4.04889745e-01  1.29381484e-01]
 [-6.27723827e+00 -4.96537975e-01  9.78755672e-01  1.50782013e+00
   7.85516498e-01  7.86411970e-01 -1.04180652e-01 -1.19262705e+00
  -7.14738525e-01 -1.27039798e+00 -8.49969552e-01 -1.22189876e+00
   6.90017884e-02  1.04369168e+00  1.35227599e+00]
 [-5.76814329e-01 -2.91765204e-01 -2.73275872e-01  1.35391008e-01
   7.10022159e-01 -5.64790513e-01  4.22453438e-01  5.20826768e-01
   1.38109072e+00 -1.10569658e+00  5.01050892e-01 -3.59890455e-01
  -5.83703712e-01 -3.07610100e-01 -1.97813885e-01]
 [ 9.73473828e-01  5.84554788e-01  6.95076324e-01  8.19949982e-01
   3.67904525e-01  1.61124482e-01  1.40043767e+00  2.86324039e+00
  -1.13199394e+00  4.88710999e-01  8.76631754e-01 -7.10119652e-01
  -4.64418061e-02  4.76347090e-01  6.01546771e-01]
 [-4.38356111e+00  3.64493208e-01  8.96890658e-01 -2.17242125e-02
   3.24155433e-01  1.20357227e-01 -4.20711480e-01  3.05645583e-03
   5.53633083e-01  4.29247273e-01 -2.29501211e-02  2.07045055e-01
  -1.27370675e-01  3.31027265e-01  7.50781368e-01]
 [-1.94666156e+00 -1.87546848e+00 -2.60398770e+00 -3.99446456e-01
  -8.26732221e-01  6.37495397e-03  7.93350963e-01  3.62650706e-01
   2.19059746e-01 -1.13409443e+00 -1.14951152e+00 -1.60207932e-01
   1.18522696e+00  1.22010952e-01 -6.87244866e-01]
 [ 6.84109254e-01  3.72324176e+00  1.51882154e+00  1.50036427e+00
  -1.16466414e+00 -2.81926455e-01 -7.39053902e-01  6.33824528e-01
   2.77585764e-01  2.24590349e-01  7.41311775e-01  1.04905501e-01
   1.03282664e-01 -5.93474901e-01  2.28900953e-02]
 [-3.84360760e+00  8.15145501e-01  3.07900997e-01 -4.48143308e-01
   8.47284052e-01 -1.06634913e+00 -3.92169843e-01 -1.37134646e-01
   6.97776003e-01  1.07980147e+00 -7.82848489e-01  4.10326346e-01
  -1.10055088e-01  1.86105534e-01 -4.31234545e-01]
 [ 1.12102390e+00  6.06466705e-01  3.15438874e-01  9.72648436e-01
   4.80853599e-02  6.34313625e-01 -6.58849372e-01  2.11454605e-01
  -1.13977665e+00 -4.40162479e-02 -8.11864073e-02 -1.62037143e+00
   1.53700320e+00  6.62676941e-01 -1.53336936e-01]
 [ 3.38449050e+00  2.58918956e+00  1.31989673e+00 -5.07517059e-01
   1.83094152e+00  2.61629905e+00  2.07672649e-01  6.09711942e-01
   1.33500072e+00  1.88826654e+00  1.50410015e+00  3.33505944e+00
   6.29671519e-02  1.30043376e+00 -9.00851515e-02]
 [-9.69383775e-01  4.32503145e+00  9.75317877e-01  4.30956232e+00
  -8.69146975e-01 -2.52389377e+00 -7.56959154e-01 -7.54121674e-01
  -3.25868295e-01 -6.04307707e-01 -1.39573235e+00 -3.86164452e-01
  -8.29420020e-01 -6.66521113e-01  1.79709836e-01]
 [ 4.91665527e-01 -3.68741136e+00  2.20327642e+00  1.32708228e+00
   1.67129050e-01 -8.29236976e-02 -8.95983352e-01  4.66084388e-01
  -6.71516148e-01  4.10899990e-02  1.13577718e+00 -3.91244559e-01
  -3.05457831e-01 -3.02992792e-01 -4.42779572e-01]
 [-4.01177059e+00 -1.29590497e+00 -8.43210815e-01  5.36008098e-01
   4.74085012e-01 -5.08285729e-02  4.29927391e-01 -7.89165135e-01
  -3.02223369e-01  3.98823268e-01  8.40170264e-01  4.89726529e-01
   1.33256937e-01 -8.93934952e-03  4.82585520e-01]
 [ 4.96175468e-01  1.38127440e+00  1.63727423e+00  1.65287140e-01
   2.56351873e-01  8.70914705e-01 -9.27437350e-01  1.01378615e+00
  -5.37544060e-01  2.83620564e-01  7.26343572e-01 -5.50433717e-01
  -9.25483412e-01  2.32032329e-01 -9.74564605e-02]
 [ 9.78541701e-01 -7.81038549e-01 -8.85015095e-01 -6.57148852e-01
   3.40684816e-01 -1.32285528e+00  2.77779964e-01  1.24596318e+00
  -2.88014875e-01 -5.98084165e-01  7.95930827e-01 -5.36555323e-01
  -5.38136802e-01  4.16393373e-01 -1.77794530e-01]
 [ 2.71908176e+00 -4.79748905e-01 -1.31047004e+00 -1.21890733e+00
   6.00584961e-01 -8.63587936e-01  1.69586667e-02  1.44146596e+00
   1.88673277e+00 -3.16350407e-01  3.56065549e-01  1.72350781e-01
   1.18710635e-01 -4.23214382e-02  9.58272247e-01]
 [-2.14098564e+00  3.78534982e-01  1.83672013e-01 -6.67393117e-01
   7.29633332e-01 -1.26644120e+00 -1.01694347e+00  5.87958103e-02
   2.83325256e-01  1.26753125e+00 -9.54930315e-01  4.62536036e-01
  -5.22364199e-01  8.25976260e-01 -5.33062307e-01]
 [-3.14785264e+00 -7.74622417e-01 -9.12184988e-01 -2.23104351e-01
  -3.39268333e-01  8.70755874e-01 -6.59891153e-01 -7.93255572e-01
  -2.30383531e-01 -4.63385453e-01 -2.61334726e-01 -2.62441404e-01
   3.34981258e-01 -9.41335216e-01 -9.82242465e-02]
 [-5.82625472e-01  2.81960269e+00  1.73069523e+00 -2.29944729e+00
  -5.19941681e-01 -5.89070889e-01  8.38204460e-01 -3.45041837e-01
   2.95997757e-01 -4.25813886e-01  2.98635051e-01 -4.78343365e-01
  -3.41143792e-01  8.04749523e-03  8.47789603e-01]
 [ 3.06150115e+00 -2.86912035e-01 -1.65218421e+00  1.90018096e-01
   1.02771823e+00  1.79648933e+00 -4.24749481e-01 -6.19565747e-01
   5.06205667e-01 -4.06881285e-01 -5.36749156e-01 -6.90027637e-01
   6.20932404e-01 -5.39651801e-01  5.15541475e-01]
 [-2.84636854e-01  1.52535391e+00  1.38719680e+00 -1.01110152e+00
  -6.99594179e-02 -3.44954656e-01 -1.08276762e+00  1.11754711e+00
   5.66961868e-02 -4.79053131e-01  7.52458395e-01 -2.78698614e-02
  -9.69075544e-01  8.19693777e-01  1.94058548e-01]
 [ 6.05147351e-01  1.38480845e+00  1.66991296e+00  1.74193116e-01
   2.49663381e-01  8.73729929e-01 -9.52468768e-01  1.03872480e+00
  -5.29355110e-01  2.88340486e-01  7.22506028e-01 -4.84448497e-01
  -8.42320015e-01  2.24588090e-01 -1.45762953e-01]
 [ 1.86496996e+00  2.33981062e+00  2.17775961e+00  6.55721627e-02
   2.74859604e+00  8.65397415e-01 -7.60060885e-01  5.35035978e-01
  -2.00325720e-02 -1.44250248e+00 -6.63885074e-01  5.88177581e-01
   7.36110542e-01  3.90032748e-01  6.85271667e-01]
 [-3.11142764e+00  7.52936311e-01 -4.52462524e-01  6.37378636e-01
  -1.67544648e+00  2.25242943e+00 -5.93403291e-02  2.70717379e-02
  -2.86620859e-01  3.60539145e-01 -7.49658682e-01 -2.39797679e-01
  -8.53157949e-01  5.09117407e-02 -4.21556581e-01]
 [-2.38434855e+00 -9.53053785e-01 -1.31375781e+00  5.97058311e-02
  -3.66496341e-01  6.03252892e-01 -8.93780339e-02 -4.49536438e-01
  -8.65528739e-01 -2.41414445e-02  2.14934651e-01  2.97397616e-01
   5.07737145e-01 -3.37367931e-01  3.30889917e-01]
 [ 3.63434157e+00 -6.76023966e-01 -1.96770388e+00  4.30664925e-01
   1.13239479e+00  1.55287467e+00  1.84875947e-01  4.34515885e-02
   4.13222382e-01 -3.87008067e-01 -5.43512263e-01 -6.92430669e-01
   9.40560589e-01 -3.61389352e-01  9.37428470e-01]
 [-2.27675845e+00 -4.68624743e-01 -1.03044766e+00 -1.83902248e-01
  -4.38196587e-01  7.89776771e-01 -8.74991602e-01 -1.02515296e+00
  -6.69353007e-01 -1.04537045e-01  8.05503288e-02  5.03560597e-01
   3.59940885e-01 -5.48515090e-01 -1.15467748e-01]
 [-3.16759946e+00 -4.15450058e-01  6.52508703e-03  7.69940020e-02
   1.57423328e-01 -2.32371575e-02  1.99581144e-01  7.06388641e-01
   6.18908097e-02  5.04826850e-01 -7.15624148e-01 -4.89585909e-01
   8.00065223e-04  5.38905800e-01 -2.44565037e-01]
 [-1.00488370e+00  3.07132949e-01  2.33974174e-01 -4.55079402e-01
   2.68123048e-01 -5.56533340e-02  1.76133046e-01  1.08329799e+00
   1.07347788e+00 -5.19719444e-01 -2.18162960e-01 -1.46988332e+00
  -2.60470497e-01  7.37551471e-01  3.82265750e-02]
 [ 8.87660968e-01 -8.58625065e-01 -1.28112171e+00 -2.58321928e-01
   7.99625720e-01 -1.17909603e+00  3.78754478e-01  5.40514166e-01
   7.78287410e-01 -4.95614321e-01  6.48847294e-01 -3.97465774e-01
  -5.42470969e-02  5.05015409e-01  6.25830065e-01]
 [ 6.91329102e-01  2.99949014e+00  1.38878378e+00  1.09865179e+00
   1.45772413e-01  1.79618641e+00  1.04802500e-01  5.98868376e-01
   4.50171846e-01  3.58123492e-01  6.68250688e-01  1.03205171e+00
  -1.15592830e+00 -1.59700904e-01 -4.21150859e-02]
 [ 5.64349128e-01 -1.76493484e+00 -5.31593696e-01 -9.22720236e-01
  -2.50650861e-01 -5.41098554e-01 -1.22235063e+00  2.06325801e-01
  -8.87979033e-01 -6.01563165e-01  1.11883828e+00 -1.15822262e+00
   2.50260372e-01  9.04799573e-01  2.99667298e-01]
 [-2.87628148e+00 -1.03706925e+00 -7.20235392e-01  2.30562812e-02
   2.82518772e-01 -4.07539612e-01  1.76559897e-01  2.22526427e-01
  -2.01536584e-01 -1.83831634e-01 -5.65106235e-02  1.56940029e-03
  -2.84401268e-01 -6.19964305e-01 -2.08865753e-01]
 [ 3.76439725e+00  2.26942676e+00  2.23743366e-02  6.25981504e-01
   7.48776228e-01 -4.35803788e-01 -5.20269962e-01  4.51689684e-01
  -4.78578841e-01  5.57995440e-01 -3.32526281e-01 -1.54149856e-01
   1.97738327e-01  1.25032756e+00 -1.34280411e-01]
 [-1.79963856e+00  2.04964240e+00  8.25913372e-01 -1.17680771e+00
   1.30689851e-01  3.09291823e-01 -7.46664001e-01  1.37584228e-01
   1.42426246e+00 -7.80057874e-01 -5.38405560e-01 -1.23061995e+00
  -7.48725988e-01 -2.45421629e-01 -1.35702246e+00]
 [ 1.82932640e+00  1.67073904e+00  1.27558855e+00 -1.63175873e+00
   1.24068457e+00  2.01308265e+00  1.41357144e+00 -5.84110819e-01
   1.21434290e+00 -1.53582094e+00 -2.06606396e+00  6.04177942e-01
  -2.05474057e-01  6.66239847e-01  3.41863228e-01]
 [-4.05670415e+00  5.08922534e-01  4.74893816e-01 -8.79069225e-02
   3.67653138e-01 -6.99776850e-02 -3.94631666e-01 -3.03179943e-01
   2.94243807e-01  6.89203038e-01 -1.03708120e-01  2.46542588e-01
   1.84507782e-01  3.64310920e-01 -5.47691585e-03]
 [ 5.66409349e+00  7.00712609e-01 -7.86075620e-01 -4.65682355e-01
  -1.66134854e+00  6.66908854e-01  2.11339099e-01  3.67535163e+00
   7.64901202e-01  2.26278442e+00  5.76242720e-01 -1.75679843e-01
   7.40088999e-01  2.28464110e-01  4.01772602e-01]
 [-4.39957345e+00 -4.27831086e-01  1.28734617e-01  6.03626599e-01
   2.88137579e-01  4.49502286e-01  5.42215378e-01  5.61388684e-02
   1.51769613e-01  7.59853355e-01  6.73650872e-02  7.55141293e-03
   2.76623791e-01  8.18649606e-01  6.34396859e-01]]